header, main, footer{
    max-width: 400px;
    margin: 0 auto;
}

header{
    text-align: center;    
    padding-top: 191px;
    padding-bottom: 33px;
}

h1{
    font-weight: bolder;
}

input{
    padding: auto 16px;
}

form{
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
    gap: 14px;
}

.form__login{
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 2px;
    background-color: var(--white);
    border: 1px solid #D9D9D9;
}

input::placeholder{
    font-size: 0.9375;
}

.primary-btn{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__password{
    margin-bottom: 29px;
}

.links{
    color: black;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid black;
    opacity: 0.3;
}