.subject_tracker_container{
    width: 100%;
}

.subject{
    justify-content: space-between;
}

.options_container{
    gap: 1.1em;
}

.weekly_review{
    font-size: 0.9375rem;
    text-align: center;
    border: 1px var(--grey) solid;
    border-radius: 12px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 15px;
}


.class_review{
    margin: 0.5em auto 1em;
    flex-direction: column;
    gap: .5em;
}

.date{
    font-size: 0.8125rem;
}

.task_description{
    font-weight: 600;
}

.sudent_rating{
    font-size: 0.8125rem;
}

.spacer{
    background-color: var(--grey);
    height: 1px;
    width: 100%;
}

.delete_container{
    justify-content: center;
    gap: 1em;
    color: var(--red);
    font-weight: 600;
    margin-top: 20%;
}

#add_modal{
        padding: 1em;
        background-color: #fff;
        border-radius: 16px 16px 0 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 80%;
        bottom: 0;
        z-index: 1000;
}

form {
    position: relative;
}

input{
    padding: 0;
    margin-bottom: 1em;
    background-color: var(--grey);
}

textarea{
    margin-top: 1em;
    border: none;
    background-color: hsla(0, 0%, 85%, 0.25);
    border-radius: 9px;
}

.slider__container{
  position: relative;
}

.slider {
    width: 100%;
    appearance: none;
  }
  
/* The thumb/handle of the slider */
  .slider-handle {
    position: absolute;
    top: 50%;
    width: 15px; /* Width of the circle */
    height: 15px; /* Height of the circle */
    background-color: var(--grey);
    border-radius: 50%;
    transform: translate(-50%, -75%);
    z-index: -1;
  }

  .ten{
    left: 10.65%; /* Adjust this to move the handle horizontally */
  }

  .twenty{
    left: 20.5%; /* Adjust this to move the handle horizontally */
  }

  .thirty{
    left: 30.25%;
  }

  .forty{
    left: 40.25%; /* Adjust this to move the handle horizontally */
  }

  .fifty{
    left: 50%;
  }

  .sixty{
    left: 59.75%;
  }

  .seventy{
    left: 69.65%;
  }

  .eighty{
    left: 79.4%;
  }

  .ninty{
    left: 89.35%;
  }

  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
  }
  /* Circles on the Slider Track */
@media screen and (min-width:950px) {
    body{
        display: block;
    }

    .subject_tracker_container{
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }
    
    .subject{
        width: 100%;
    }

    .delete_container{
        
        margin-top: auto;
        padding-bottom: 1em;
    }
}

